bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
.DS_Store
.idea
.git
/Properties
.wsuo
.suo
.v2

/Properties
*.vsidx
/.vs/FullStackTechTest/v17/DocumentLayout.json
/.vs/ProjectEvaluation/fullstacktechtest.metadata.v8.bin
/.vs/ProjectEvaluation/fullstacktechtest.projects.v8.bin
/.vs/ProjectEvaluation/fullstacktechtest.strings.v8.bin
